rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /vagas/{vagaId} {
      allow read, write: if true; // Permite qualquer um ler e escrever na coleção 'vagas'
    }
  }
}